* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
body{
	font-family: 'Oxygen', sans-serif;
	font-size: 16px;
}
section{
	border:1px solid #000;
	background-color: #aaaaaa;
	height: 1000px;
	margin:10px 2%;
	padding: 3px;
}
h1{
	font-size: 2em;
	color: #777777;
}
div ul li{
	background-color: #555555;
	color:#ffffff;
}
div ul li:hover{
	background-color: #ffffff;
	color:#555555;
}
@media (min-width: 992px) {
  .col-lg-4 {
    float: left;
    border: 1px solid green;
    margin:0 1%;
  }
}