* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
body{
	font-family: 'Oxygen', sans-serif;
	font-size: 16px;
}
section{
	border:1px solid #000;
	background-color: #aaaaaa;
	height: 1000px;
	margin:10px 2%;
	padding: 3px;
}
.navbar-header a, h1{
	font-size: 1.5em;
	color: #777777;
}
section h2{
	font-size: 1.4em;
}
div ul li{
	background-color: #555555;
	color:#ffffff;
}
div ul li:hover{
	background-color: #ffffff;
	color:#555555;
}
